<!DOCTYPE HTML PUBLIC >
<html> 
	<head> 
		<title>Remove Background</title> 
		<meta http-equiv="content-type" content="text/hyml"; charset="utf-8">
        <style type="text/css">
            html {font-family: Verdana, sans-serif}
            body {margin: auto; height: 100%; width: 60%;
                display: flex; justify-content: center; align-items: center}
        </style>
	</head> 
	<body> 
		<form name="imageForm" method="post" enctype="multipart/form-data" action="#"> 
			<h2> Remove Background </h2>
            
            <ul>
                <li>Imagen original:
                    <input type="file" name="imagenOriginal" accept="image/jpeg, image/png" required>
                </li>
                
                <li>Nuevo fondo:
                    <input type="file" name="imagenFondo" accept="image/jpeg, image/png" required>
                </li>
			</ul>
            <hr/>
            
			<br/><br/>
			
			<input type="submit" /> 
		</form>
	</body> 
</html>